<!DOCTYPE html>
{% load static %}
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static '/css/criar_review.css' %}" />
    <title>Edite Sua Review</title>
  </head>
  <body>
    <div class="adicionar-review-container">
      <h1>Editar Review</h1>
      <form method="post" action="{% url 'Midia:review' %}">
        {% csrf_token %}
        <input type="hidden" name="id_review" value="{{ review.id }}" />
        <h2 id="id_review" name="id_review" class="midia-title">
          {{ review.midia.titulo }}
        </h2>
        <img src="{{ review.midia.poster }}" class="poster-img" />
        <div class="form-group">
          <label for="nota">Nota:</label>
          <input
            type="number"
            id="nota"
            name="nota"
            min="0"
            max="10"
            step="1"
            value="{{review.nota}}"
            required
          />
        </div>
        <div class="form-group">
          <label for="comentario">Comentário:</label>
          <textarea id="comentario" name="comentario" rows="4" required>
{{ review.comentario }}</textarea
          >
        </div>
        <button type="submit">Editar Review</button>
      </form>
    </div>
  </body>
</html>
