{% extends 'base.html' %} {% block content %}
<h1>Minhas Reviews</h1>

{% if reviews %}
<div class="reviews-container">
  {% for review in reviews %}
  <div class="review-card">
    <a href="{% url 'Midia:details_review' id_review=review.id %}">
      <h2>{{ review.midia.titulo }}</h2>
      <img
        src="{{ review.midia.poster }}"
        height="150px"
        width="150px"
        alt="Review Poster"
      />
      <p><strong>Nota:</strong> {{ review.nota }}</p>
      <p>{{ review.comentario }}</p>
    </a>
    <form method="POST" action="{% url 'Midia:deletar_review' review.id %}">
      {% csrf_token %}
      <button type="submit" class="delete-btn">
        <i class="fas fa-trash"></i>
      </button>
    </form>
  </div>
  {% endfor %}
</div>
{% else %}
<p class="no-reviews">Você ainda não possui reviews.</p>
{% endif %} {% endblock %}
